{% extends "base.html" %}

{% block content %}
<h1>Add a Blog Entry</h1>
<form action="/newpost" method="post">

        <label for="title_field">Title for your new blog:</label><br>
        <input id="title_field" name="title" type="text" value="{{ new_entry_title }}">
        <p class="error">{{title_error}} &nbsp;</p>
        <br><br><br>

        <label for="body_field">Your new blog:</label><br>
        <textarea rows="4" cols="50" id="body_field" name="body" >{{ new_entry_body }}</textarea>
        <p class="error">{{body_error}} &nbsp;</p>

    <input id="submit_button" type="submit" value="Save">
</form>
{% endblock %}